.header-top {
  width: 100%;
  margin-top: 2.5rem;
  display: flex;
  justify-content: space-between;
}

.header-top-right {
  display: flex;
  justify-content: end;
}
.header-top-right i {
  margin-left: 1rem;
}

.header-top-middle {
  display: flex;
  justify-content: start;
}
.header-top-middle img {
  width: 100%;
}

.header-top-left i {
  margin-right: 1rem;
}

.header-middle {
  display: flex;
  justify-content: center;
}
.header-middle a {
  text-decoration: none;
  color: #272727;
  margin-right: 3.5rem;
  font-size: 14px;
  margin-top: 1rem;
}

.dropdown-content {
  background-color: white;
  z-index: 1;
  position: absolute;
  width: 70%;
  height: 36rem;
  left: 15rem;
  top: 4.5rem;
  display: none;
}
.dropdown-content a {
  display: block;
  text-decoration: none;
  color: #272727;
  margin-top: 10px;
  cursor: pointer;
}
.dropdown-content .col-lg-3 {
  padding: 2rem;
}
.dropdown-content .col-lg-4 {
  padding: 2rem;
}

.dropdown-qadin:hover .dropdown-content {
  display: block;
}

.dropdown-kisi:hover .dropdown-content {
  display: block;
}

.section-1 .section-1-img-div img {
  width: 100%;
}
.section-1 .section-1-h5 {
  display: flex;
  justify-content: center;
  margin-top: 1.5rem;
}
.section-1 .section-1-h5 h5 {
  font-weight: 350;
  color: #272727;
}
.section-1 h2 {
  font-size: 1.4rem;
  line-height: 1rem;
  text-align: center;
  font-weight: 350;
  margin-bottom: 2.7rem;
  margin-top: 3rem;
}

.section-2 {
  margin-top: 14rem;
}
.section-2 .h2-and-button {
  position: absolute;
  bottom: 41px;
  left: 55px;
}
.section-2 button {
  background-color: #fff;
  color: #272727;
  transition: 0.2s;
  width: 10rem;
  height: 3rem;
  font-size: 1rem;
  line-height: 1rem;
}
.section-2 button:hover {
  background-color: #272727;
  color: white;
}
.section-2 h2 {
  color: #fff;
  font-weight: 400;
  font-size: 1.5rem;
}
.section-2 .linear {
  opacity: 0.5;
  width: 97%;
  height: 100%;
  position: absolute;
  background: linear-gradient(180.95deg, rgba(206, 206, 206, 0.0001) 17.29%, #000000 98.76%);
}
.section-2 img {
  width: 100%;
}
.section-2 .box {
  width: 610px;
  height: 400px;
  overflow: hidden;
}

.slider-items {
  position: relative;
}
.slider-items img {
  width: 100%;
}
.slider-items .slider-words {
  position: absolute;
  top: 7rem;
  left: 6rem;
}
.slider-items h2 {
  color: white;
}
.slider-items button {
  width: 8rem;
  height: 2.6rem;
  background-color: #272727;
  color: white;
  border: 1px solid #272727;
  margin-top: 1rem;
  transition: 0.3s;
}
.slider-items button:hover {
  background-color: white;
  color: #272727;
}

.section-3 {
  margin-top: 10rem;
}
.section-3 h2 {
  font-size: 1.4rem;
  font-weight: 400;
  display: flex;
  justify-content: center;
}

.slider-items2 img {
  width: 100%;
}
.slider-items2 h5 {
  color: #272727;
  font-weight: 400;
  font-size: 1rem;
}
.slider-items2 p {
  color: #A5A5A5;
  font-weight: 300;
  font-size: 1rem;
}
.slider-items2 span {
  color: #272727;
  font-size: 14px;
}

.section-1-detail {
  margin-top: 3rem;
}
.section-1-detail .main-div {
  width: 300px;
  height: 300px;
}
.section-1-detail .main-div img {
  width: 100%;
}
.section-1-detail .thumbnail.selected {
  border: 2px solid #272727;
}
.section-1-detail .thumbnail {
  width: 8rem;
  height: 11rem;
}
.section-1-detail .thumbnail img {
  width: 100%;
}
.section-1-detail #main-div img {
  width: 100%;
}
.section-1-detail .name-p {
  font-size: 1.4rem;
  font-weight: 350;
  color: #272727;
}
.section-1-detail .code-p {
  font-size: 1.1rem;
  color: #A5A5A5;
  font-weight: 350;
}
.section-1-detail .price-span {
  font-size: 1.2rem;
  color: #272727;
  font-weight: 350;
}
.section-1-detail .color-div {
  width: 25px;
  height: 25px;
  border-radius: 50%;
  display: inline-block;
  cursor: pointer;
  margin-right: 5px;
}
.section-1-detail .color-p {
  font-size: 1.1rem;
  font-weight: 350;
  color: #272727;
  margin-top: 1rem;
}

.section-2-detail img {
  width: 100%;
}
.section-2-detail h5 {
  color: #272727;
  font-weight: 400;
  font-size: 1rem;
}
.section-2-detail p {
  color: #A5A5A5;
  font-weight: 300;
  font-size: 1rem;
}
.section-2-detail span {
  color: #272727;
  font-size: 14px;
}
.section-2-detail button {
  width: 15rem;
  height: 3rem;
  border: 1px solid #272727;
  color: #272727;
  font-weight: 350;
  transition: 0.3s;
}
.section-2-detail button:hover {
  background-color: #272727;
  color: white;
}
.section-2-detail .kisi-button-div {
  display: flex;
  justify-content: center;
  margin-top: 5rem;
}
.section-2-detail h1 {
  font-weight: 350;
  font-size: 1.5rem;
  display: flex;
  justify-content: center;
  margin-top: 2rem;
}

footer {
  margin-top: 10rem;
}
footer .col-lg-2 a {
  display: block;
  text-decoration: none;
  color: #272727;
  font-weight: 300;
}
footer .col-lg-2 h5 {
  font-size: 1rem;
  font-weight: 400;
}
footer .col-lg-4 input {
  width: 70%;
  border: 2px solid #272727;
  padding: 10px 2rem;
  border-radius: 5px;
}
footer .col-lg-4 button {
  width: 29%;
  background-color: #272727;
  color: white;
  border-radius: 5px;
}
footer .col-lg-4 h5 {
  font-size: 1rem;
  font-weight: 400;
}
footer .col-lg-4 i {
  margin-left: 1rem;
  margin-top: 1rem;
  border-radius: 50%;
  padding: 4px;
  transition: 0.3s;
}
footer .col-lg-4 i:hover {
  background-color: #e4013a;
}/*# sourceMappingURL=style.css.map */
.sizes {
  display: flex;
  gap: 10px;
}

.size-box {
  width: 50px;
  height: 50px;
  border: 1px solid #000;
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: bold;
  cursor: pointer;
}

input[type="radio"] {
  display: none;
}

input[type="radio"]:checked + .size-box {
  background-color: #000;
  color: #fff;
}
